blinker
click
colorama
Flask
Flask-RESTful
Flask-SQLAlchemy
greenlet
itsdangerous
Jinja2
MarkupSafe
pytz
six
SQLAlchemy
typing_extensions
Werkzeug
transformers 
datasets[audio] 
accelerate
speechbrain